<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rest a wanty</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li>
                <a title="home" href="home.html">Home</a>
            </li>
            {{#user}}
            <li>
                <a title="logout" href="logout.html">Logout</a>
            </li>
            {{/user}}
            <li>
                <a title="viewAll" href="viewall.html">View All</a>
            </li>
        </ul>
        {{^user}}
        <form action="/login" method="post">
            <input type="text" placeholder="Account:" name="userName">
            <input type="password" placeholder="Password:" name="password">
            <button type="submit">Login</button>
        </form>
        {{/user)
    </nav>
    {{#user}}
        {{#homePage}}

        {{/homePage}}
        {{#viewAllPage}}

        {{/viewAllPage}}
    {{/user}}
    <p>{{here}}</p>
</body>
</html>