<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rest a wanty</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li>
                <a title="home" href="home.html">Home</a>
            </li>
            {{#user}}
            <li>
                <a title="logout" href="logout.html">Logout</a>
            </li>
            {{/user}}
            <li>
                <a title="viewAll" href="viewall.html">View All</a>
            </li>
        </ul>
        {{^user}}
        <form action="/login" method="post">
            <input type="text" placeholder="Account:" name="userName">
            <input type="password" placeholder="Password:" name="password">
            <button type="submit">Login</button>
        </form>
        {{#badPass}}
        <p style="color:grey">Please enter a valid password!</p>
        {{/badPass}}
        {{/user}}
    </nav>
    {{#user}}
        {{#homePage}}
            <form action="/add-location" method="post">
                <div>
                    <input type="text" placeholder="Name:" name="name">
                    <select name="type" >
                        <option selected disabled>Type</option>
                        <option value="Casual">Casual</option>
                        <option value="Fast Food">Fast Food</option>
                        <option value="Dining">Dining</option>
                        <option value="Fine Dining">Fine Dining</option>
                        <option value="Takeout">Takeout</option>
                    </select>
                </div>
                <div>
                <input type="text" placeholder="Street:" name="street">
                </div>
                <div>
                <input type="text" placeholder="city:" name="city">
                <input type="text" placeholder="state:" name="state">
                <input type="text" placeholder="zip:" name="zip">
                </div>
                <button type="submit">Add</button>
            </form>
        {{/homePage}}
        {{#viewAllPage}}
             <h1>All locations</h1>
             <form action="/search" method="post">
                 <input type="text" placeholder="Name: " name="search">
                 <button type="submit">Search</button>
             </form>
            {{#search}}
                <form action="/cancel-search" method="post">
                    <button type="submit">Cancel Search</button>
                </form>
            {{/search}}
            <hr />
            <br />
            {{#restaurants}}
            {{#display}}
                <div>
                    <h5>{{name}}</h5>
                    <p>{{type}}</p>
                </div>
                <div>
                    {{street}}
                </div>
                <div>
                    <p>{{city}}, {{state}}  {{zip}}</p>
                </div>
                <div>
                    <form action="/delete" method="post">
                        <input type="hidden" value="{{id}}" name="id">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/edit" method="post">
                        <input type="hidden" value="{{id}}" name="id">
                        <button type="submit">Edit</button>
                    </form>
                </div>
                <hr />
                {{/display}}
                {{#edit}}
                <div>
                <form action="/edit-restaurant" method="post">
                    <div>
                        <input type="hidden" value="{{id}}" name="id">
                        <input type="text" value="{{name}}" name="name">
                        <select name="type" >
                            <option selected>{{type}}</option>
                            <option value="Casual">Casual</option>
                            <option value="Fast Food">Fast Food</option>
                            <option value="Dining">Dining</option>
                            <option value="Fine Dining">Fine Dining</option>
                            <option value="Takeout">Takeout</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" value="{{street}}" name="street">
                    </div>
                    <div>
                        <input type="text" value="{{city}}" name="city">
                        <input type="text" value="{{state}}" name="state">
                        <input type="text" value="{{zip}}" name="zip">
                    </div>
                    <button type="submit">edit location</button>
                </form>
                <form action="cancel-edit" method="post">
                    <button type="submit">cancel</button>
                </form>
                <hr />
                </div>
                {{/edit}}
            {{/restaurants}}
        {{/viewAllPage}}
    {{/user}}
</body>
</html>